app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f Dockerfile -t podinfo:$GIT_COMMIT_ID . 
    docker tag podinfo:$GIT_COMMIT_ID  podinfo:$ROOST_NAMESPACE  
app_deploy:
  type: text
  content: |+
    #/bin/sh


app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: otel/docker-compose.yaml
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-04-07T09:17:07.710Z
