app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f Dockerfile -t podinfo:$GIT_COMMIT_ID . 
    docker tag podinfo:$GIT_COMMIT_ID  podinfo:$ROOST_NAMESPACE  
app_deploy:
  type: text
  content: |2-
     #/bin/sh

    docker-compose -f otel/docker-compose.yaml up -d
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: otel/docker-compose.yaml
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-04-07T11:02:38.441Z
