app_dependencies:
  type: text
  content: |
    #!/bin/sh
app_deploy:
  type: text
  content: |
    #/bin/sh


    kubectl apply -k github.com/stefanprodan/podinfo//kustomize
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: otel/docker-compose.yaml
build:
  type: text
  content: '#!/bin/sh'
deploy:
  type: text
  content: '#!/bin/sh'
test: []
uninstall:
  type: text
  content: '#!/bin/sh'
dockerCompose: ''
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-04-10T06:04:04.272Z
