app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f Dockerfile -t podinfo:$GIT_COMMIT_ID . 
    docker tag podinfo:$GIT_COMMIT_ID  podinfo:$ROOST_NAMESPACE  
app_deploy:
  type: text
  content: |+
    #/bin/sh


app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: otel/docker-compose.yaml
build:
  type: text
  content: '#!/bin/sh'
deploy:
  type: text
  content: |-
    #!/bin/sh

    helm repo add podinfo https://stefanprodan.github.io/podinfo

    helm upgrade --install --wait frontend --namespace ${ROOST_NAMESPACE} --set replicaCount=2 --set backend=http://backend-podinfo:9898/echo podinfo/podinfo

    helm test frontend --namespace ${ROOST_NAMESPACE}

    helm upgrade --install --wait backend --namespace test --set redis.enabled=true
    podinfo/podinfo
test: []
uninstall:
  type: text
  content: '#!/bin/sh'
dockerCompose: ''
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-04-10T05:56:52.137Z
